/*---------------------------------------------------*/
/*si le contenu est petit, le footer est en bas de la page*/
html, body,#react-root{
height: 100%!important;
}
.main-layout{
	display: flex !important;
	min-height: 100vh!important;
	flex-direction: column!important;
}

footer {
	flex: none!important;
}
.bodyLay{
	flex: 1!important;
}

