/*---------------------------------------------------*/
/*si le contenu est petit, le footer est en bas de la page*/
html, body,#react-root{
height: 100%!important;
}

@media all and (max-width: 700px) {
  .supprmobile {
	display:none !important;
	}
	.supprsmallmenu {
	display:none !important;
	}
}
@media all and (max-width: 700px) {
	.supprsmallmenu {
	display:none !important;
	}
}

@media all and (min-width: 701px) {
	.supprbigmenu {
	display:none !important;
	}
}
@media all and (min-width: 701px) {
	.supprbig {
	display:none !important;
	}
}
